.main {
  height: 100vh;
  width: 100vw;
  padding: 2%;
  box-sizing: border-box;
  background-color: #fff;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff2e6;
  overflow: hidden;
}

.main-container--wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.main-gameOptions {
  height: 15%;
  width: 100%;
  background-color: #ffc299;
  border-bottom: 2px solid #4c4c4c;
  box-sizing: border-box;
  display: flex;
}

.main-gameOptions-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: #4c4c4c;
}

.main-gameOptions-container-addPlayer {
  width: 20vh;
  margin-left: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  background-color: #ffaa80;
  border-left: .4vh solid #4c4c4c;
}

.main-gameOptions-container-shufflePosition {
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  text-align: center;
  background-color: #ff884d;
  border-left: .4vh solid #4c4c4c;
}

.main-gameOptions-container-input {
  width: 30%;
  background-color: #fff2e6;
  border: none;
  text-decoration: none;
  font-size: 4vh;
  color: #4c4c4c;
  margin-left: 2vh;
  text-align: center;
  cursor: pointer;
}

.main-container-players {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}

.main-container-player-subContainers {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container-player-subContainers-remove {
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5vh solid #4c4c4c;
  border-radius: 50%;
  font-size: 4vh;
  background-color: #ff8080;
}

.main-container-player-subContainers-postion {
  position: absolute;
  top: 2vh;
  left: 2vh;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5vh solid #4c4c4c;
  font-size: 4vh;
  font-weight: 700;
  background-color: #fff;
}

.main-container-player-subContainers-input {
  height: 50%;
  width: 50%;
  background-color: #fff2e6;
  border: none;
  text-decoration: none;
  font-size: 10vh;
  color: #4c4c4c;
  padding: 20px 20px;
  margin: 20px 20px;
  text-align: center;
  cursor: pointer;
}

.main-container-player-subContainers-valueInput {
  width: 100%;
  background-color: #fff2e6;
  border: none;
  text-decoration: none;
  font-size: 10vh;
  color: #4c4c4c;
  text-align: center;
  cursor: pointer;
  margin-left: 2vh;
}

.main-container-player-subContainers-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color: #4c4c4c;
}

.main-container-player-subContainers:nth-child(n+3) {
  border-top: .5vh solid #4c4c4c;
}

.main-container-players:nth-child(n+2) {
  border-left: .5vh solid #4c4c4c;
}

.main-actions {
  height: 25%;
  width: 100%;
  display: flex;
  background-color: #ffc299;
  border-top: 2px solid #4c4c4c;
  box-sizing: border-box;
}

.main-actions-container {
  flex: 1;
  display: flex;
}

.main-actions-container:nth-child(n+2) {
  border-left: .5vh solid black;
}

.main-actions-container-undo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vh;
}

.main-actions-container-undoPlus,
.main-actions-container-undoFoul,
.main-actions-container-undoGame {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4%;
  font-size: 1.8vh;
  text-align: center;
  border-radius: 100px;
  background-color: #66ccff;
  border: 2px solid #4c4c4c;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
}

.main-actions-container-plus,
.main-actions-container-foul,
.main-actions-container-game {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
  font-size: 3vh;
  border-left: 2px solid #4c4c4c;
}

.main-actions-container-plus {
  background-color: #b3ffcc;
}

.main-actions-container-foul {
  background-color: #ff9999;
}

.main-actions-container-game {
  background-color: #80b3ff;
}
